absl-py==2.1.0
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
bcrypt 
Flask-MySQLdb==2.0.0
flatbuffers==24.12.23
gast==0.6.0
google-pasta==0.2.0
grpcio==1.68.1
jsonpointer==2.1
keras==3.7.0
libclang==18.1.1
lxml==5.2.1
matplotlib==3.9.2
#mkl-service==2.4.0
ml-dtypes==0.4.1
mysql-connector-python==9.2.0
mysqlclient==2.2.7
namex==0.0.8
numpy 
opt_einsum==3.4.0
optree==0.13.1
pandas 
protobuf==4.25.3
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
PyMySQL==1.1.1
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pywin32==305.1
setuptools==75.8.2
streamlit 
streamlit-option-menu==0.4.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
termcolor==2.5.0
wheel==0.45.1
